# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
competition_code/Visual Micro/.competition_code.vsarduino.h
competition_code/competition_code.sdf
competition_code/competition_code.v12.suo
